<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Uni-Fire S.r.l.</title>

    <!-- A template for showing a quotation in a Custom Widget in Grist. -->
    <!-- Uses Vue.js, moment, and the Grist Plugin API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>

    <script src="quotation.js?ver=11"></script>
    <script src="exampleData.js"></script>

    <link rel="stylesheet" href="quotation.css?ver=17">
  </head>
  <body>
    <div id="app">
      <div class="status" v-if="status">
        <template v-if="status === 'waiting'">
          <p>Waiting for data...</p>
          <ul>
            <li v-bind:class="[tableConnected ? 'done' : '']">I need <b>read table</b> access.</li>
            <li v-bind:class="[haveRows ? 'done' : '']">I need at least one row of data.</li>
            <li v-bind:class="[rowConnected ? 'done' : '']">I need <b>Select By</b> set.</li>
          </ul>
          <p>Examples:</p>
          <ul>
            <li><a class="button" href="index.html?demo=1">A filled out quotation</a></li>
            <li><a class="button" href="index.html?labels=1">A labelled quotation</a></li>
          </ul>
        </template>
        <template v-else>
          {{ status }}
        </template>
      </div>
      <template v-if="quotation">
        <div class="top">
          <div class="block">
            <div class="header">
              <!--  <div class="meta title">quotation</div> -->
              <img src="https://github.com/Verox7914/testgrist/blob/main/commercial/image/unifire.jpg?raw=true" alt="Uni-Fire S.r.l.">
            </div>
              <div class="info" style="color: black; font-weight: normal;">
                <span class="meta" style="text-transform: uppercase; color: black; font-weight: bold;">quotation Number</span> 
                <span style="color: black;">#{{ quotation.Number }}</span>
              </div>
              <div class="info" v-if="quotation.Issued" style="color: black;">
                <div class="meta date-tag" style="text-transform: uppercase; color: black; font-weight: bold;">Emission Date</div> 
                <span style="color: black;">{{ quotation.Issued | asDate }}</span>
              </div>
              <div class="info" v-if="quotation.Due" style="color: black;">
                <div class="meta date-tag" style="text-transform: uppercase; color: black; font-weight: bold;">Valid Since</div> 
                <span style="color: black;">{{ quotation.Due | asDate }}</span>
              </div>
              <div class="info" style="color: black;">
                <span class="meta" style="text-transform: uppercase; color: black; font-weight: bold;">Job Reference</span> 
                <span style="color: black;">{{ quotation.Reference }}</span>
              </div>
            </div>

          <div class="supplier">
            <div v-for="business in (quotation.Invoicer ? [quotation.Invoicer] : [])">
              <template v-if="typeof(business) === 'string'">
                <div class="address newlined">{{ business }}</div>
              </template>
              <template v-else>
                <div class="address">
                  <span class="name">{{ business.Name }}</span><br />
                  {{ business.Street1 }}<br />
                  <template v-if="business.Street2">
                    {{ business.Street2 }}<br />
                  </template>
                  {{ business.City }} {{ business.State }} {{ business.Zip }}<br />
                  <template v-if="business.Country">
                    {{ business.Country }}<br />
                  </template>
                </div>
                <template v-if="business.Email">
                  <div class="email">{{ business.Email }}</div>
                </template>
                <template v-if="business.Phone">
                  <div class="phone">{{ business.Phone }}</div>
                </template>
                <template v-if="business.Website">
                  <div class="website"><a v-bind:href="business.Url">{{ business.Website }}</a></div>
                </template>
              </template>
            </div>
          </div>
        </div>
        
        <div class="client" v-for="business in (quotation.Client ? [quotation.Client] : [])">
          <div class="title">Cliente / Client</div>
          <div class="details">
            <template v-if="typeof(business) === 'string'">
              <div class="newlined">{{ business }}</div>
            </template>
            <template v-else>
              <div>{{ business.Name }}</div>
              <template v-if="business.Street1">
                {{ business.Street1 }},
              </template>
              <template v-if="business.Street2">
                {{ business.Street2 }},
              </template>
              {{ business.City }} {{ business.State }} {{ business.Zip }}
              <template v-if="business.Country">
                <br />{{ business.Country }}
              </template>
            </template>
          </div>
        </div>

        
            <table class="items" v-if="quotation.Co2 && quotation.Co2.length > 0">
              <thead>
                <tr>
                  <th class="number">Area</th>
                  <th class="number">Standard</th>
                  <th class="number">Length (m)</th>
                  <th class="number">Width (m)</th>
                  <th class="number">Height (m)</th>
                  <th class="number">Area m²</th>
                  <th class="number">VOLUME m³ - 5%</th>
                  <th class="number">FLOODING FACTOR</th>
                  <th class="number">CO2 Design Qty</th>
                  <th class="number">CYLINDER Qty</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in quotation.Co2" :key="item.id">
                  <td class="number">{{ item.Area }}</td>
                  <td class="number">{{ item.Standard }}</td>
                  <td class="number">{{ item.Lenght }}</td>
                  <td class="number">{{ item.Width }}</td>
                  <td class="number">{{ item.Height }}</td>
                  <td class="number">{{ item.Area2 }}</td>
                  <td class="number">{{ item.VOLUME5Perc }}</td>
                  <td class="number">{{ item.FLOODING_FACTOR }}</td>
                  <td class="number">{{ item.CO2_DES_qty }}</td>
                  <td class="number">{{ item.CYLIDER_Qty }}</td>
                </tr>
              </tbody>
            </table>

        
        <table class="items">
          <thead>
            <tr>
              <th class="code2">Codice Code</th>
              <th class="Description">Descrizione / Description</th>
              <th class="money">Listino List Price</th>
              <th class="number">Sconto Disc.(%)</th>
              <th class="number">Q.ty</th>
              <th class="money">Totale Totale </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in quotation.Items">
              <td class="code2">{{ item.Code2 }}</td>
              <td class="Description">{{ item.Description }}</td>
              <td class="money">{{ item.Price | currency }}</td>
              <td class="number">{{ item.Discount }}</td>
              <td class="number">{{ item.Quantity }}</td>
              <td class="money">{{ item.Total | currency }}</td>
            </tr>
          </tbody>
        </table>

        <div class="summary">
          <div class="space">
          </div>
          <div class="part">
            <div class="title">Subtotale Subtotal</div>
            <div class="details">{{ quotation.Subtotal | currency }}</div>
          </div>
          <div class="part">
            <div class="title">VAT</div>
            <div class="details">{{ quotation.Taxes | currency }}</div>
          </div>
          <div class="total">
            <div class="title">Totale / Total</div>
            <div class="details">{{ quotation.Total | currency }}</div>
          </div>
        </div>
          
        <template v-if="quotation.Note">
          <p class="note">{{ quotation.Note }}</p>
        </template>

        <template v-for="help in (quotation.Help ? [quotation.Help] : [])">
          <div class="help">
            <div class="help-close">
              Add <span class="column-name">Due</span> or <span class="column-name">Issued</span> date to hide this help.
            </div>
            <div class="title">Column information</div>
            <div class="details">
              <table>
                <tr v-for="group in ['recognized', 'expected', 'ignored']">
                  <td class="key">{{ group }}</td>
                  <td>
                    <template v-if="group in help">
                      <div v-bind:class="['column-name', 'column-' + group]" v-for="col in help[group]">{{col}}</div>
                    </template>
                    <template v-else>
                      &mdash;
                    </template>
                  </td>
                </tr>
              </table>
              <template v-if="quotation.SuggestReferencesColumn">
                <div>For structured address and item information, add a <span class="column-name">References</span> column with this formula:</div>
                <div>
                  <pre>RECORD(rec, expand_refs=1)</pre>
                </div>
              </template>
            </div>
          </div>
        </template>

        <div class="footer">
          <div class="note">
            Note:
          </div>
          <div class="notes">
            - Due to the unstable situation we inform that the offer may be changed at any time both in price and delivery time. We are not able to predict the further development of the market and its impact on the cost of raw materials and other factors affecting the execution of contracts. Thank you for your understanding.
          </div>
          <div class="notes">
            - A causa della situazione instabile, informiamo che l'offerta può essere modificata in qualsiasi momento sia nel prezzo che nei tempi di consegna. Non siamo in grado di prevedere l'ulteriore sviluppo del mercato e il suo impatto sul costo delle materie prime e su altri fattori che ne influenzano l'esecuzione dei contratti. Vi ringraziamo per la vostra comprensione.
          </div>
        </div>
         <div class="footer">
          <div class="thanks">
            Grazie - Thank you!
          </div>
        </div>

        <div class="print">
          <a href="javascript:window.print()">Print</a>
        </div>
      </template>
    </div>
  </body>
</html>
